.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, pink 50%, rgb(202, 235, 232) 50%);
  background-color: #f1f1f1;
  /* Ha a gradient nem jeleníthető meg, akkor ez a háttérszín marad meg. */
}

.login-container {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 0.6);
  /* 60%-os átlátszóság */
  backdrop-filter: blur(10px);
  /* Üveghatás (opcionális) */
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.google-button {
  background-color: #DB4437;
  color: white;
}

.email-button {
  background-color: #4CAF50;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #555;
  font-size: 18px;
}

.error-message {
  color: red;
  margin-top: 10px;
}